.card {
  width: 25rem;
  box-shadow: 0 0 0.6rem 0 var(--card-shadow);
  height: 38rem;
}
.card-img {
  height: 20rem;
}
.wishlist-icon {
  left: 21rem;
  top: 0.6rem;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background: var(--grey-light);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.added-wishlist-icon {
  color: var(--red);
}
.sec-2 {
  color: var(--primary);
}
.title-rating-container {
  justify-content: space-between;
}
.product-title {
  margin: 0;
}
.product-rating {
  padding-right: 1.5rem;
  color: var(--black);
  font-size: 1.5rem;
}
.price-tag {
  color: var(--black);
}
.deleted-price {
  color: var(--grey-medium);
}
.sec4 {
  border-radius: 0.1rem solid var(--secondary);
}
.productCard-button {
  width: 95%;

  bottom: 0.5rem;
  margin: 0 0.5rem;
  justify-content: center;
}

.add-cart-btn {
  background-color: var(--secondary);
}
.go-cart-btn {
  background-color: var(--orange);
}
