@import url("https://one8ui.netlify.app/css/components.css");

:root {
  --grey-medium: #adb5bd;
  --white: white;
  --card-shadow: #adb5bd;
  --red: #cf000f;
  --black: black;
  --orange: #f48c06;
  --light-grey: #e9ecef;
}
.main {
  margin: 4rem 0 2rem 0;
}
.toastify {
  font-size: 1.4rem;
}
