.product-detail-container {
  padding-top: 6rem;
  align-items: center;
  justify-content: center;
}
.product-detail-card {
  display: flex;
  flex-direction: row;
  width: 40%;
  height: auto;
  padding: 1rem;
  gap: 2rem;
}
.card-img-cont {
  width: 50%;
}
.prod-img {
  overflow: hidden;
  height: 100%;
}
.wish-icon {
  left: 26rem;
  top: 0.4rem;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background: var(--grey-light);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.product-details {
  gap: 1.3rem;
  width: 50%;
}
.heading-tag {
  margin: 0;
}
.product-brand {
  align-items: center;
  gap: 1rem;
}
.cta-buttons {
  gap: 1rem;
}
