.checkout-container {
  padding-top: 6rem;
  align-items: flex-start;
  justify-content: center;
  gap: 8rem;
  flex-wrap: wrap;
}
.text-center {
  align-items: center;
}
.user-address {
  gap: 1.3rem;
  align-items: center;
  width: 40rem;
}
.address-card {
  height: auto;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
}
.address-head {
  gap: 1rem;
}

@media screen and (max-width: 450px) {
  .user-address {
    width: 90%;
  }
}
