.checkout-container {
  padding-top: 6rem;
  align-items: flex-start;
  justify-content: center;
  gap: 10rem;
}
.text-center {
  align-items: center;
}
.user-address {
  gap: 1.3rem;
  align-items: center;
  width: 25%;
}
.address-card {
  height: auto;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
}
.address-head {
  gap: 1rem;
}
