.error-block {
  margin: auto;
  height: 600px;
  width: 40vw;
  align-items: center;
  gap: 4rem;
}
.error-status {
  justify-content: center;
  gap: 5rem;
}
.error-code {
  font-size: 11rem;
}
.rotate-icon {
  font-size: 8.5rem;
}
.msg {
  text-align: center;
  font-size: 1.9rem;
  width: 75%;
}
